NEXT_PUBLIC_SUPABASE_URL=https://xxxxxxxxxxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=isi-dengan-anon-key-dari-dashboard-supabase
SUPABASE_SERVICE_ROLE_KEY=isi-dengan-service-role-key-dari-dashboard-supabase
CRON_SECRET=your-secret-here
NEXT_PUBLIC_SUPERADMIN_WA=6281234567890
